<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
    <title>Corporate Layout</title>
    <meta name="description" content="">
    <meta name="author" content="Seth Epstein">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/scc.css">

</head>
<body>
	<div class="navbar group">
		<p class="tel">tel<a href="tel:1800456123"> 1.800.456.123</a></p>
		
		<ul>
			<li><a href="#">contact</a></li>
			<li class="spacer">|<li>
			<li><a href="#">support</a></li>
			<li class="spacer">|<li>
			<li><a href="#">FAQ</a></li>
			<li class="spacer">|<li>
			<li><a href="#">home</a></li>
		</ul>
		
	</div>
<div class="container">
		
		<div class="logo group">
			<%= image_tag 'logo.png' %>
			
			<form>
				<input type="text" placeholder="search this site for" size="30" style="padding:6px">
				<input type="submit" value="Search" class="accent-btn" >
				
			</form>
		</div>
		
		<div>
			<embed src="<%= asset_path('OPEN.swf') %>", width='728px' height='90px'/>
		
		<div class="sec-nav">
			<ul>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">FAQS</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#" class="active-nav">Home</a></li>
			</ul>
			
		</div>
		
		<div class="copy group">
			<section class="group">
				<div class="content">
				<h1>Making a Difference</h1>
				<%= image_tag 'copy-img.png' %>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget sem sed risus elementum tempor. Sed non dolor. Phasellus pharetra suscipit arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras dictum purus vitae risus. Aenean cursus faucibus tortor. Praesent sem leo, lobortis nec, adipiscing quis, convallis eget, leo. Morbi enim libero, sollicitudin at, malesuada nec, dapibus a, justo. Maecenas sed lacus et nisi gravida ultrices.</p>
				<a href="#">Continue reading....</a>
				</div>
				
				<div class="content alt">
				<h1>Making a Difference</h1>
				<%= image_tag 'copy-img.png' %>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget sem sed risus elementum tempor. Sed non dolor. Phasellus pharetra suscipit arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras dictum purus vitae risus. Aenean cursus faucibus tortor. Praesent sem leo, lobortis nec, adipiscing quis, convallis eget, leo. Morbi enim libero, sollicitudin at, malesuada nec, dapibus a, justo. Maecenas sed lacus et nisi gravida ultrices.</p>
				<a href="#">Continue reading....</a>
				</div>
				
				<div class="content">
				<h1>Making a Difference</h1>
				<%= image_tag 'copy-img.png' %>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget sem sed risus elementum tempor. Sed non dolor. Phasellus pharetra suscipit arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras dictum purus vitae risus. Aenean cursus faucibus tortor. Praesent sem leo, lobortis nec, adipiscing quis, convallis eget, leo. Morbi enim libero, sollicitudin at, malesuada nec, dapibus a, justo. Maecenas sed lacus et nisi gravida ultrices.</p>
				<a href="#">Continue reading....</a>
				</div>
					
			</section>
			
			<aside>
				<h1>Sponsors</h1>
				<div class="group">
				<div id="sponsor1"><%= image_tag 'ad.jpg' %></div>
				<div id="sponsor2"><%= image_tag 'ad.jpg' %></div>
				</div>
				
				<h1>Most Popular</h1>
				<p> <strong> johnny </strong>on Learning the business</p><br>
				<p> <strong> Mark </strong>on Making a Difference</p><br>
				<p> <strong> Dylan </strong>on Making a Difference</p><br>
				<p> <strong> johnny </strong>on Learning the business</p><br>
				
				<h1> Recent Comments</h1>	
				<p> <strong> johnny </strong>on Learning the business</p><br>
				<p> <strong> Mark </strong>on Making a Difference</p><br>
				<p> <strong> Dylan </strong>on Making a Difference</p><br>
				<p> <strong> johnny </strong>on Learning the business</p><br>
				
			</aside>
				
		</div>
		</div>
			
		
</div>
			
			
			
	<div class="navbar group footer">
		
		<ul class="add">
			<li><a href="#">contact</a></li>
			<li class="spacer">|<li>
			<li><a href="#">support</a></li>
			<li class="spacer">|<li>
			<li><a href="#">FAQ</a></li>
			<li class="spacer">|<li>
			<li><a href="#">home</a></li>
			<br>
			<p class="nudge">© 2009 Corporate Layout.   All Rights Reserved</p>
			
		</ul>
		
		
	</div>		
 	
</body>